:root {
  --preloadar-main-color: #2b84e4;
  --preloadar-main-alt-color: #e8e7e7;
  --preloadar-bg-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

.preloadarHideScrollbar {
  overflow: hidden !important;
}

.preloadarHide {
  pointer-events: none;
  opacity: 0 !important;
  overflow: hidden !important;
}

#preloadarContainer {
  display: none !important;
}

.preloadarBodyStyle {
  overflow: hidden !important;
}

.preloadarPage {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden !important;
  z-index: 99999999;
  background-color: var(--preloadar-bg-color);
  opacity: 1;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preloadarTopBar {
  position: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden !important;
  background-color: var(--preloadar-bg-color);
  overflow: hidden;
  z-index: 99999999;
  opacity: 1;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.preloadarScaleStyle {
  position: absolute !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: scaleFrames .4s linear alternate infinite;
          animation: scaleFrames .4s linear alternate infinite;
  width: 50px;
}

@-webkit-keyframes scaleFrames {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
  }
}

@keyframes scaleFrames {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
  }
}

.preloadarTopBarStyle {
  width: 60%;
  height: 4px;
  position: absolute;
  top: 0;
  background-color: var(--preloadar-main-color);
  -webkit-animation: moveFrames 1s linear infinite;
          animation: moveFrames 1s linear infinite;
}

@-webkit-keyframes moveFrames {
  from {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  to {
    -webkit-transform: translateX(160%);
            transform: translateX(160%);
  }
}

@keyframes moveFrames {
  from {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  to {
    -webkit-transform: translateX(160%);
            transform: translateX(160%);
  }
}

.loadar {
  position: relative;
}

.loadar.spin {
  width: 32px;
  height: 32px;
  border: 3px solid var(--preloadar-main-alt-color);
  border-bottom-color: var(--preloadar-main-color);
  border-top-color: var(--preloadar-main-color);
  border-left-color: var(--preloadar-main-color);
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
          animation: spin 0.8s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loadar.spin1 {
  width: 32px;
  height: 32px;
  border: 3px solid var(--preloadar-main-alt-color);
  border-top-color: var(--preloadar-main-color);
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
          animation: spin 0.8s linear infinite;
}

.loadar.spin2 {
  width: 32px;
  height: 32px;
  border: 3px solid var(--preloadar-main-alt-color);
  border-bottom-color: var(--preloadar-main-color);
  border-top-color: var(--preloadar-main-color);
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
          animation: spin 0.8s linear infinite;
}

.loadar.ripple, .loadar.ripple1 {
  width: 50px;
  height: 50px;
}

.loadar.ripple::before, .loadar.ripple::after, .loadar.ripple1::before, .loadar.ripple1::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid var(--preloadar-main-color);
  -webkit-transform: scale(0);
          transform: scale(0);
  left: 0;
  top: 0;
  -webkit-animation: ripple 1s linear infinite;
          animation: ripple 1s linear infinite;
}

.loadar.ripple::after, .loadar.ripple1::after {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.loadar.ripple1::before, .loadar.ripple1::after {
  border: none;
  background-color: var(--preloadar-main-color);
}

.loadar.ripple2 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--preloadar-main-color);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: ripple 1s linear infinite;
          animation: ripple 1s linear infinite;
}

.loadar.waiting {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-animation: waiting 1.5s linear infinite;
          animation: waiting 1.5s linear infinite;
  color: var(--preloadar-main-color);
}

@-webkit-keyframes waiting {
  0% {
    -webkit-box-shadow: 10px 0 0 -2px, 28px 0 0 -2px, -10px 0 0 -2px, -28px 0 0 -2px;
            box-shadow: 10px 0 0 -2px, 28px 0 0 -2px, -10px 0 0 -2px, -28px 0 0 -2px;
  }
  25% {
    -webkit-box-shadow: 10px 0 0 -2px, 28px 0 0 -2px, -10px 0 0 -2px, -28px 0 0 2px;
            box-shadow: 10px 0 0 -2px, 28px 0 0 -2px, -10px 0 0 -2px, -28px 0 0 2px;
  }
  50% {
    -webkit-box-shadow: 10px 0 0 -2px, 28px 0 0 -2px, -10px 0 0 2px, -28px 0 0 -2px;
            box-shadow: 10px 0 0 -2px, 28px 0 0 -2px, -10px 0 0 2px, -28px 0 0 -2px;
  }
  75% {
    -webkit-box-shadow: 10px 0 0 2px, 28px 0 0 -2px, -10px 0 0 -2px, -28px 0 0 -2px;
            box-shadow: 10px 0 0 2px, 28px 0 0 -2px, -10px 0 0 -2px, -28px 0 0 -2px;
  }
  100% {
    -webkit-box-shadow: 10px 0 0 -2px, 28px 0 0 2px, -10px 0 0 -2px, -28px 0 0 -2px;
            box-shadow: 10px 0 0 -2px, 28px 0 0 2px, -10px 0 0 -2px, -28px 0 0 -2px;
  }
}

@keyframes waiting {
  0% {
    -webkit-box-shadow: 10px 0 0 -2px, 28px 0 0 -2px, -10px 0 0 -2px, -28px 0 0 -2px;
            box-shadow: 10px 0 0 -2px, 28px 0 0 -2px, -10px 0 0 -2px, -28px 0 0 -2px;
  }
  25% {
    -webkit-box-shadow: 10px 0 0 -2px, 28px 0 0 -2px, -10px 0 0 -2px, -28px 0 0 2px;
            box-shadow: 10px 0 0 -2px, 28px 0 0 -2px, -10px 0 0 -2px, -28px 0 0 2px;
  }
  50% {
    -webkit-box-shadow: 10px 0 0 -2px, 28px 0 0 -2px, -10px 0 0 2px, -28px 0 0 -2px;
            box-shadow: 10px 0 0 -2px, 28px 0 0 -2px, -10px 0 0 2px, -28px 0 0 -2px;
  }
  75% {
    -webkit-box-shadow: 10px 0 0 2px, 28px 0 0 -2px, -10px 0 0 -2px, -28px 0 0 -2px;
            box-shadow: 10px 0 0 2px, 28px 0 0 -2px, -10px 0 0 -2px, -28px 0 0 -2px;
  }
  100% {
    -webkit-box-shadow: 10px 0 0 -2px, 28px 0 0 2px, -10px 0 0 -2px, -28px 0 0 -2px;
            box-shadow: 10px 0 0 -2px, 28px 0 0 2px, -10px 0 0 -2px, -28px 0 0 -2px;
  }
}

.loadar.waiting1 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--preloadar-main-alt-color);
  -webkit-box-shadow: -16px 0 var(--preloadar-main-alt-color), 16px 0 var(--preloadar-main-alt-color);
          box-shadow: -16px 0 var(--preloadar-main-alt-color), 16px 0 var(--preloadar-main-alt-color);
  -webkit-animation: waiting1 1.2s linear infinite;
          animation: waiting1 1.2s linear infinite;
}

@-webkit-keyframes waiting1 {
  33% {
    background: var(--preloadar-main-alt-color);
    -webkit-box-shadow: -16px 0 var(--preloadar-main-color), 16px 0 var(--preloadar-main-alt-color);
            box-shadow: -16px 0 var(--preloadar-main-color), 16px 0 var(--preloadar-main-alt-color);
  }
  66% {
    background: var(--preloadar-main-color);
    -webkit-box-shadow: -16px 0 var(--preloadar-main-alt-color), 16px 0 var(--preloadar-main-alt-color);
            box-shadow: -16px 0 var(--preloadar-main-alt-color), 16px 0 var(--preloadar-main-alt-color);
  }
  100% {
    background: var(--preloadar-main-alt-color);
    -webkit-box-shadow: -16px 0 var(--preloadar-main-alt-color), 16px 0 var(--preloadar-main-color);
            box-shadow: -16px 0 var(--preloadar-main-alt-color), 16px 0 var(--preloadar-main-color);
  }
}

@keyframes waiting1 {
  33% {
    background: var(--preloadar-main-alt-color);
    -webkit-box-shadow: -16px 0 var(--preloadar-main-color), 16px 0 var(--preloadar-main-alt-color);
            box-shadow: -16px 0 var(--preloadar-main-color), 16px 0 var(--preloadar-main-alt-color);
  }
  66% {
    background: var(--preloadar-main-color);
    -webkit-box-shadow: -16px 0 var(--preloadar-main-alt-color), 16px 0 var(--preloadar-main-alt-color);
            box-shadow: -16px 0 var(--preloadar-main-alt-color), 16px 0 var(--preloadar-main-alt-color);
  }
  100% {
    background: var(--preloadar-main-alt-color);
    -webkit-box-shadow: -16px 0 var(--preloadar-main-alt-color), 16px 0 var(--preloadar-main-color);
            box-shadow: -16px 0 var(--preloadar-main-alt-color), 16px 0 var(--preloadar-main-color);
  }
}

.loadar.waiting2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-animation: waiting2 1.2s linear infinite alternate;
          animation: waiting2 1.2s linear infinite alternate;
  color: var(--preloadar-main-color);
}

@-webkit-keyframes waiting2 {
  0% {
    -webkit-box-shadow: -30px -10px, -11px 0, 9px 0, 28px 0;
            box-shadow: -30px -10px, -11px 0, 9px 0, 28px 0;
  }
  33% {
    -webkit-box-shadow: -30px 0px, -11px -10px, 9px 0, 28px 0;
            box-shadow: -30px 0px, -11px -10px, 9px 0, 28px 0;
  }
  66% {
    -webkit-box-shadow: -30px 0px, -11px 0, 9px -10px, 28px 0;
            box-shadow: -30px 0px, -11px 0, 9px -10px, 28px 0;
  }
  100% {
    -webkit-box-shadow: -30px 0, -11px 0, 9px 0, 28px -10px;
            box-shadow: -30px 0, -11px 0, 9px 0, 28px -10px;
  }
}

@keyframes waiting2 {
  0% {
    -webkit-box-shadow: -30px -10px, -11px 0, 9px 0, 28px 0;
            box-shadow: -30px -10px, -11px 0, 9px 0, 28px 0;
  }
  33% {
    -webkit-box-shadow: -30px 0px, -11px -10px, 9px 0, 28px 0;
            box-shadow: -30px 0px, -11px -10px, 9px 0, 28px 0;
  }
  66% {
    -webkit-box-shadow: -30px 0px, -11px 0, 9px -10px, 28px 0;
            box-shadow: -30px 0px, -11px 0, 9px -10px, 28px 0;
  }
  100% {
    -webkit-box-shadow: -30px 0, -11px 0, 9px 0, 28px -10px;
            box-shadow: -30px 0, -11px 0, 9px 0, 28px -10px;
  }
}

.loadar.flip {
  width: 32px;
  height: 32px;
  background-color: var(--preloadar-main-color);
  -webkit-animation: flip 1s linear infinite;
          animation: flip 1s linear infinite;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(200px) rotateX(0deg) rotateY(0deg);
            transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
            transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
            transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: perspective(200px) rotateX(0deg) rotateY(0deg);
            transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
            transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
            transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
  }
}

.loadar.flip1 {
  width: 32px;
  height: 32px;
  background-color: var(--preloadar-main-color);
  -webkit-animation: flip1 1.2s linear infinite;
          animation: flip1 1.2s linear infinite;
}

@-webkit-keyframes flip1 {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
}

@keyframes flip1 {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
}

.loadar.flip2 {
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(32deg);
          transform: rotate(32deg);
}

.loadar.flip2::before {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: -16px;
  -webkit-animation: flip2 3s ease infinite;
          animation: flip2 3s ease infinite;
}

.loadar.flip2::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: rgba(var(--preloadar-main-color), 0.85);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  -webkit-animation: flip2Alt 1.5s ease infinite;
          animation: flip2Alt 1.5s ease infinite;
}

@-webkit-keyframes flip2 {
  0% {
    -webkit-box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
            box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
  }
  12% {
    -webkit-box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
            box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
  }
  25% {
    -webkit-box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
            box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
  }
  37% {
    -webkit-box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(255, 255, 255, 0);
            box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(255, 255, 255, 0);
  }
  50% {
    -webkit-box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(var(--preloadar-main-color), 0.3);
            box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(var(--preloadar-main-color), 0.3);
  }
  62% {
    -webkit-box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(var(--preloadar-main-color), 0.3);
            box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(var(--preloadar-main-color), 0.3);
  }
  75% {
    -webkit-box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(var(--preloadar-main-color), 0.3);
            box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(var(--preloadar-main-color), 0.3);
  }
  87% {
    -webkit-box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(var(--preloadar-main-color), 0.3);
            box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(var(--preloadar-main-color), 0.3);
  }
  100% {
    -webkit-box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
            box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
  }
}

@keyframes flip2 {
  0% {
    -webkit-box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
            box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
  }
  12% {
    -webkit-box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
            box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
  }
  25% {
    -webkit-box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
            box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
  }
  37% {
    -webkit-box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(255, 255, 255, 0);
            box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(255, 255, 255, 0);
  }
  50% {
    -webkit-box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(var(--preloadar-main-color), 0.3);
            box-shadow: 0 16px rgba(var(--preloadar-main-color), 0.3), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(var(--preloadar-main-color), 0.3);
  }
  62% {
    -webkit-box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(var(--preloadar-main-color), 0.3);
            box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(var(--preloadar-main-color), 0.3), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(var(--preloadar-main-color), 0.3);
  }
  75% {
    -webkit-box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(var(--preloadar-main-color), 0.3);
            box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(var(--preloadar-main-color), 0.3), 0px 32px rgba(var(--preloadar-main-color), 0.3);
  }
  87% {
    -webkit-box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(var(--preloadar-main-color), 0.3);
            box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(var(--preloadar-main-color), 0.3);
  }
  100% {
    -webkit-box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
            box-shadow: 0 16px rgba(255, 255, 255, 0), 16px 16px rgba(255, 255, 255, 0), 16px 32px rgba(255, 255, 255, 0), 0px 32px rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes flip2Alt {
  0% {
    -webkit-transform: translate(0, 0) rotateX(0) rotateY(0);
            transform: translate(0, 0) rotateX(0) rotateY(0);
  }
  25% {
    -webkit-transform: translate(100%, 0) rotateX(0) rotateY(180deg);
            transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    -webkit-transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
            transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
            transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotateX(0) rotateY(360deg);
            transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}

@keyframes flip2Alt {
  0% {
    -webkit-transform: translate(0, 0) rotateX(0) rotateY(0);
            transform: translate(0, 0) rotateX(0) rotateY(0);
  }
  25% {
    -webkit-transform: translate(100%, 0) rotateX(0) rotateY(180deg);
            transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    -webkit-transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
            transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
            transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotateX(0) rotateY(360deg);
            transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}

.loadar.freqeuncy {
  width: 6px;
  height: 32px;
  border-radius: 3px;
  background: var(--preloadar-main-color);
  -webkit-animation: freqeuncy 0.5s 0.5s linear infinite alternate;
          animation: freqeuncy 0.5s 0.5s linear infinite alternate;
}

.loadar.freqeuncy::after, .loadar.freqeuncy::before {
  content: '';
  width: 6px;
  height: 32px;
  border-radius: 3px;
  background: var(--preloadar-main-color);
  position: absolute;
  bottom: 0;
  left: 16px;
  -webkit-animation: freqeuncyAlt 0.5s 0.65s linear infinite alternate;
          animation: freqeuncyAlt 0.5s 0.65s linear infinite alternate;
}

.loadar.freqeuncy::before {
  left: -16px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes freqeuncy {
  0% {
    height: 50px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    height: 10px;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes freqeuncy {
  0% {
    height: 50px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    height: 10px;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@-webkit-keyframes freqeuncyAlt {
  0% {
    height: 50px;
  }
  100% {
    height: 5.5px;
  }
}

@keyframes freqeuncyAlt {
  0% {
    height: 50px;
  }
  100% {
    height: 5.5px;
  }
}

.loadar.freqeuncy1 {
  width: 6px;
  height: 32px;
  border-radius: 3px;
  -webkit-animation: freqeuncy1 1s linear infinite alternate;
          animation: freqeuncy1 1s linear infinite alternate;
  margin-left: -32px;
  left: -16px;
}

@-webkit-keyframes freqeuncy1 {
  0% {
    -webkit-box-shadow: 20px 0 rgba(22, 22, 22, 0.25), 40px 0 var(--preloadar-main-color), 60px 0 var(--preloadar-main-color);
            box-shadow: 20px 0 rgba(22, 22, 22, 0.25), 40px 0 var(--preloadar-main-color), 60px 0 var(--preloadar-main-color);
  }
  50% {
    -webkit-box-shadow: 20px 0 var(--preloadar-main-color), 40px 0 rgba(22, 22, 22, 0.25), 60px 0 var(--preloadar-main-color);
            box-shadow: 20px 0 var(--preloadar-main-color), 40px 0 rgba(22, 22, 22, 0.25), 60px 0 var(--preloadar-main-color);
  }
  100% {
    -webkit-box-shadow: 20px 0 var(--preloadar-main-color), 40px 0 var(--preloadar-main-color), 60px 0 rgba(22, 22, 22, 0.25);
            box-shadow: 20px 0 var(--preloadar-main-color), 40px 0 var(--preloadar-main-color), 60px 0 rgba(22, 22, 22, 0.25);
  }
}

@keyframes freqeuncy1 {
  0% {
    -webkit-box-shadow: 20px 0 rgba(22, 22, 22, 0.25), 40px 0 var(--preloadar-main-color), 60px 0 var(--preloadar-main-color);
            box-shadow: 20px 0 rgba(22, 22, 22, 0.25), 40px 0 var(--preloadar-main-color), 60px 0 var(--preloadar-main-color);
  }
  50% {
    -webkit-box-shadow: 20px 0 var(--preloadar-main-color), 40px 0 rgba(22, 22, 22, 0.25), 60px 0 var(--preloadar-main-color);
            box-shadow: 20px 0 var(--preloadar-main-color), 40px 0 rgba(22, 22, 22, 0.25), 60px 0 var(--preloadar-main-color);
  }
  100% {
    -webkit-box-shadow: 20px 0 var(--preloadar-main-color), 40px 0 var(--preloadar-main-color), 60px 0 rgba(22, 22, 22, 0.25);
            box-shadow: 20px 0 var(--preloadar-main-color), 40px 0 var(--preloadar-main-color), 60px 0 rgba(22, 22, 22, 0.25);
  }
}

.loadar.freqeuncy2 {
  width: 6px;
  height: 32px;
  border-radius: 3px;
  background: var(--preloadar-main-color);
  margin: 16px auto;
  -webkit-animation: freqeuncy2 0.3s 0.3s linear infinite alternate;
          animation: freqeuncy2 0.3s 0.3s linear infinite alternate;
}

.loadar.freqeuncy2::after, .loadar.freqeuncy2::before {
  content: '';
  width: 6px;
  height: 32px;
  border-radius: 3px;
  background: var(--preloadar-main-color);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 16px;
  -webkit-animation: freqeuncy2 0.3s 0.45s linear infinite alternate;
          animation: freqeuncy2 0.3s 0.45s linear infinite alternate;
}

.loadar.freqeuncy2::before {
  left: -16px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes freqeuncy2 {
  0% {
    height: 32px;
  }
  100% {
    height: 4px;
  }
}

@keyframes freqeuncy2 {
  0% {
    height: 32px;
  }
  100% {
    height: 4px;
  }
}
/*# sourceMappingURL=preloadar.css.map */